
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Hakkımda
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">MVC STOK PROJESİ</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>
                        HELİN ÇELİKBAŞ
                    </label>
                    <br />

                    <label>
                        SOFTWARE DEVELOPER
                    </label>
                    <br />
                    <label>
                        KONYA/SELÇUKLU
                    </label>
                    <br />

                    <p>
                        Bu projeyi yaparken bir çok şey öğrendim controller kısımlarını ekleme silme
                        güncelleme işlemlerini required dropdownlis  attirubuteleri öğrendim benim için faydalı
                        bir eğitim oldu dilerim işyaşamımdada fayda sağlasın.
                    </p>






                    <button class="btn btn-info">TAMAM</button>
                </div>
            </form>
        </div>
    </div>
</div>


